[submodule "static-sparse-grid-approximations"]
	path = src/samplers/static_sparse_grid_approximations
	url = https://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@github.com/ionutfarcas/static-sparse-grid-approximations
