[submodule "static-sparse-grid-approximations"]
	path = static-sparse-grid-approximations
	url = https://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@github.com/ionutfarcas/static-sparse-grid-approximations
